[Unit]
Description=Minecraft Server
After=network-online.target

[Service]
User=minecraft
Group=minecraft
Type=forking
RestartSec=30s
ExecStart=/home/minecraft/server/service/start.sh
ExecStop=/home/minecraft/server/service/stop.sh 20

[Install]
WantedBy=multi-user.target
